.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.container mat-card {
  width: 100%;
  padding: 20px;
}

.register-user {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.register-user mat-form-field {
  width: 100%;
  --mdc-outlined-text-field-focus-outline-color: #7ec306;
  --mdc-outlined-text-field-focus-label-text-color: #7ec306;
}

button {
  width: 60%;
  height: 40px;
  margin: 12px;
}

button:enabled {
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.title {
  color: #092C4C;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.register-user input {
  width: 100%;
}

#imageName {
  margin-left: 10px;
}

#imageButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3E64FF;
  color: #FFFFFF;
  padding: 15px;
  border-radius: 35px;
  text-align: center;
  align-content: center;
  width: 50%;
  cursor: pointer;
  margin: 10px;
}

.image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.profile-image {
  width: 100px;
  height: auto;
}

.submit-button:enabled {
  background-color: #092C4C;
  color: #FFFFFF;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.form-field {
  max-width: 350px;
}

@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}
