<div class="container">

  <h1 class="title-page"><strong>Foro de discusión</strong></h1>
  <button mat-flat-button (click)="goToFavorites()" class="favorites-button">Ver Favoritos</button>

  <h2>Empezar nuevo hilo</h2>
  <div class="new-post-form">
    <input type="text" [(ngModel)]="newPost.title" placeholder="Título" />
    <textarea [(ngModel)]="newPost.content" placeholder="Contenido"></textarea>
    <button (click)="submitPost()">Publicar</button>
  </div>

  <hr>

  <h2>Ver hilos</h2>
  <div class="forum-post" *ngFor="let post of posts">
    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}</p>
    <button *ngIf="!isFavorite(post.id)" (click)="addToFavorites(post.id)">Agregar a favoritos</button>
    <span *ngIf="isFavorite(post.id)">⭐ En favoritos</span>
    <button mat-raised-button color="" (click)="toggleReplies(post.id)">
      {{ showReplies[post.id] ? 'Ocultar' : 'Ver respuestas' }}
    </button>

    <div class="reply-container" [class.visible]="showReplies[post.id]">
      <div *ngIf="replies[post.id]?.length === 0" class="no-replies-message">
        <p>No hay ningún mensaje.</p>
      </div>
      <div *ngFor="let reply of replies[post.id]" class="reply">
        <p><strong>{{ getUserName(reply.userId) }}</strong>: {{ reply.content }}</p>
      </div>
      <div class="reply-input" *ngIf="showReplies[post.id]">
        <input type="text" [(ngModel)]="newReplyContent[post.id]" placeholder="Escribe tu respuesta..." />
        <button mat-raised-button color="primary" (click)="sendReply(post.id)">Send</button>
      </div>
    </div>
  </div>

</div>
