main {
  margin: 100px 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

h1 {
  color: var(--text-color);
  font-size: 35px;
  font-weight: bold;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.error-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.error-title{
  font-size: 20px;
  font-weight: bold;
}

.card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
