<div class="favorite-posts">
  <h2>Mis favoritos</h2>
  <div *ngIf="favorites.length > 0; else noFavorites">
    <ul>
      <li *ngFor="let favorite of favorites">
        Post ID: {{ favorite.forumPostId }} | User ID: {{ favorite.userId }}
      </li>
    </ul>
  </div>
  <ng-template #noFavorites>
    <p *ngIf="!errorMessage">No hay favoritos disponibles.</p>
  </ng-template>
</div>

<div class="check-favorite">
  <h3>Verificar favorito</h3>
  <p *ngIf="isFavorite; else notFavorite">El post está marcado como favorito.</p>
  <ng-template #notFavorite>
    <p>El post no está marcado como favorito.</p>
  </ng-template>
</div>

<p *ngIf="errorMessage">{{ errorMessage }}</p>
