<div class="container">
  <mat-card class="register-user" aria-label="Container for register user form">
    <h1 class="title">Registrarse</h1>
    <mat-card-content>
      <h2>¡Te damos la bienvenida a AgroTech!</h2>
      <img src="https://firebasestorage.googleapis.com/v0/b/agroconnect-demo.appspot.com/o/images%2Fcuy-pregunton-removebg-preview.png?alt=media&token=0143e213-7192-418d-b864-78fb9276aade" alt="Cuy image" width="150px" />
      <p class="role-description">Para empezar, ¿cuál es tu rol?</p>
      <div class="roles">
        <div class="role">
          <button mat-flat-button style="background-color: #df8311; color: white;" (click)="registerFarmer()">Productor Agrícola</button>
          <p class="role-text">Si necesitas ayuda para gestionar tu chacra, huerta o granja.</p>
        </div>
        <div class="role">
          <button mat-flat-button style="background-color: #27AE60; color: white;" (click)="registerAdvisor()">Asesor</button>
          <p class="role-text">Si deseas brindar asesoría a productores agrícolas.</p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <p class="login"><a routerLink="/login">¿Ya tienes una cuenta? Inicia sesión</a></p>
    </mat-card-actions>
  </mat-card>
</div>
