.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.container mat-card {
  width: 100%;
  padding: 20px;
}

.register-user {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

mat-card{
  background-color: var(--text-primary-color);
}

.title {
  color: var(--text-color);
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.register-user mat-form-field {
  width: 100%;
  --mdc-outlined-text-field-outline-color: var(--text-automatic-color) !important;
  --mdc-outlined-text-field-focus-outline-color: #7ec306;
  --mdc-outlined-text-field-focus-label-text-color: #7ec306;
}

.register-user mat-form-field mat-label {
  color: var(--text-automatic-color) !important;
}

mat-form-field {
  padding: 1px;
}

mat-form-field input {
  height: 20px;
}

button {
  width: 45%;
  height: 40px;
  margin: 8px;
}

button:enabled {
  color: white;
}

.register-user input {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

#imageName {
  margin-left: 8px;
}

#imageButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3E64FF;
  color: #FFFFFF;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  align-content: center;
  width: 50%;
  cursor: pointer;
  margin: 8px;
}

.image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}


.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Reduce spacing */
}

::ng-deep .mat-mdc-text-field-wrapper input {
  color: var(--text-automatic-color) !important;
  background-color: inherit;
}

span {
  color: var(--text-automatic-color);
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--success-color);
}

.submit-button:enabled {
  background-color: var(--text-color);
  color: #FFFFFF;
}

.profile-image {
  width: 100px;
  height: auto;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.form-field {
  max-width: 350px;
}

@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}
