<div class="container">
  <div class="header-row">
    <div class="back-button">
      <button mat-icon-button style="color: var(--text-color)" class="button_only" (click)="goBack()">
        <mat-icon class="icon">arrow_back</mat-icon>
      </button>
    </div>
    <h1 class="title-page"><strong>Editar publicación</strong></h1>
    <div></div>
  </div>
  <div class="form-container">
    <div class="image-section">
      <img *ngIf="image" [src]="image" alt="Imagen de la publicación" class="preview-image" height="360" width="360">
      <img *ngIf="!image" ngSrc="assets/images/placeholder.jpg" alt="Image Placeholder" class="preview-image" height="360" width="360">
      <input type="file" accept="image/*" (change)="uploadImage($event)" id="upload-input" hidden>
      <button mat-flat-button color="primary" (click)="document.getElementById('upload-input')?.click()">
        Subir imagen
      </button>
    </div>

    <div class="form-section">
      <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Título</mat-label>
          <input matInput formControlName="title" placeholder="Ingresa el título">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Descripción</mat-label>
          <textarea style="color: var(--text-automatic-color);" matInput formControlName="description" placeholder="Ingresa la descripción"></textarea>
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit" [disabled]="isImageUploading">Guardar</button>
      </form>
    </div>
  </div>
</div>
