<main>
  <div class="buttons">
    <button mat-icon-button (click)="goBack()">
      <mat-icon class="icon">arrow_back</mat-icon>
    </button>
  </div>
  <h2 class="title-page">Detalles de cita</h2>
  <div class="info-container">
    <div class="advisor-info" style="text-align: center; justify-content: center; align-items: center;">
      <img src="{{profileInfo.photo}}" alt="Foto de perfil" class="photo">
      <h2>{{profileInfo.fullname}}</h2>
      <h3>{{formatDate(availableDate.scheduledDate)}} <br/> {{availableDate.startTime}} - {{availableDate.endTime}}</h3>
    </div>
    <div class="appointment-info">
      <h2>Link de videoconferencia</h2>
      <div class="container-border">
        <a href="{{appointment.meetingUrl}}" target="_blank" class="link">{{appointment.meetingUrl}}</a>
      </div>
      <h2 *ngIf="isFarmer">Comentario brindado por ti</h2>
      <h2 *ngIf="!isFarmer">Comentario brindado por el productor agrícola</h2>
      <div class="container-border">
        <p>{{appointment.message}}</p>
      </div>
      <button mat-flat-button class="cancel-button" color="warn" (click)="openCancelDialog()">Cancelar cita</button>
    </div>
  </div>

</main>


