<main>
  <div class="buttons">
    <button mat-icon-button (click)="goBack()">
      <mat-icon class="icon">arrow_back</mat-icon>
    </button>
  </div>

  <h1 class="title-page"><strong>Editar calificación</strong></h1>

  <div class="info-container">
    <div class="profile-info" style="text-align: center; justify-content: center; align-items: center;">
      <img src="{{advisorDetails.photo}}" alt="Foto de {{advisorDetails.fullname}}" class="photo">
      <h2>{{advisorDetails.fullname}}</h2>
    </div>
    <div class="review-info">
      <form (submit)="onSubmit()" #reviewForm = "ngForm" aria-label="formulario para reseñar a un asesor" class="form">
        <div class="rating-content">
          <span style="padding-left: 5px;">¡Deja una reseña al asesor!</span>
          <div class="star-rating">
            <button type="button" *ngFor="let star of stars; index as i" (click)="onStarClick(i)">
              <mat-icon [class.selected]="star">{{ star ? 'star' : 'star_border' }}</mat-icon>
            </button>
          </div>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Comentario</mat-label>
          <textarea matInput class="input" placeholder="Comentario" name="reviewComment" [(ngModel)]="comment" rows="3"></textarea>
        </mat-form-field>

        <button mat-flat-button class="send-button" color="primary" aria-label="guardar cambios" type="submit">Actualizar</button>
      </form>
    </div>
  </div>

</main>

