<div class="container">
  <div class="header-row">
    <div class="back-button">
      <button mat-icon-button (click)="goBack()">
        <mat-icon class="icon">arrow_back</mat-icon>
      </button>
    </div>
    <h1>Listado de animales de {{enclosureName}}</h1>
  </div>
  <div class="error-container" *ngIf="animals.length === 0">
    <h2>No se han encontrado animales</h2>
  </div>
  <div class="animals">
    <animal-card *ngFor="let animal of animals" [animal]="animal"></animal-card>
  </div>

  <div class="register">
    <button mat-flat-button class="register-button" style="padding: 20px; background-color: #092C4C; color: white;"  (click)="createAnimal()">
      <mat-icon aria-label="simbolo de suma">add</mat-icon>
      Nuevo animal
    </button>
  </div>
</div>

