<div class="container">
  <div class="header-row">
    <h1 class="title-page"><strong>Mis Publicaciones</strong></h1>
    <div class="buttons">
      <button mat-button style="color: #ffffff" class="button_only" (click)="goToCreatePost()">
        <mat-icon class="icon">add</mat-icon>
        Crear publicación
      </button>
    </div>
  </div>
  <div class="posts">
    <ng-container *ngFor="let post of posts">
      <post-card [post]="post" [onDeletePost]="deletePost.bind(this)"></post-card>
    </ng-container>
  </div>

  <div *ngIf="posts.length === 0" class="error-container">
    <span class="error-title">No tienes ninguna publicación por el momento</span>
  </div>
</div>
