<main>
  <div class="buttons">
    <button mat-icon-button (click)="goBack()">
      <mat-icon class="icon">arrow_back</mat-icon>
    </button>
  </div>

  <h1 class="title-page"><strong>Reservar Cita</strong></h1>

  <div class="info-container">
    <div class="advisor-info" style="text-align: center; justify-content: center; align-items: center;">
      <img src="{{profileInfo.photo}}" alt="Foto de perfil" class="photo">
      <h2>{{profileInfo.fullname}}</h2>
    </div>

    <div *ngIf="availableDates.length > 0" class="appointment-form">
      <form (submit)="createAppointment()" [formGroup]="appointmentForm" aria-label="formulario para reservar una cita" class="form">
        <mat-form-field appearance="fill" class="select-container">
          <mat-label>Selecciona un horario</mat-label>
          <mat-select [(value)]="selectedDateIndex">
            <mat-option *ngFor="let availableDate of availableDates; let i = index" [value]="i">
              {{ availableDate.availableDate }} {{ availableDate.startTime }} - {{ availableDate.endTime }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mensaje</mat-label>
          <textarea matInput placeholder="Ingresa un mensaje para saber el motivo de la cita" name="message" rows="3" formControlName="message" ></textarea>
          <mat-error *ngIf="appointmentForm.get('message')?.hasError('required')">
            El mensaje es requerido
          </mat-error>
        </mat-form-field>

        <div class="button-container">
          <button mat-flat-button color="primary" class="custom-button" type="submit" [disabled]="appointmentForm.invalid || (selectedDateIndex === undefined || selectedDateIndex < 0 || selectedDateIndex >= availableDates.length)">Reservar</button>
        </div>
      </form>
    </div>

    <div *ngIf="availableDates.length === 0" class="error-container">
      <span class="error-title">El asesor no tiene horarios disponibles</span>
    </div>
  </div>
</main>
